.contact-form {
  padding: 0 10%;
  margin-top: 10px;
  width: 80%;

  input, textarea {
    border: 1px solid #808080;
    font-size: 12px;
    padding: 10px 0;
    text-transform: uppercase;
  }

  input[type="text"], input[type="number"] {
    float: left;
    padding-left: 3%;
    margin-top: 10px;
    width: 100%;
  }

  .gutter {
    margin-right: 2.8%;
  }

  textarea {
    height: 106px;
    padding-left: 3%;
    margin-bottom: 22px;
    width: 96.2%;
  }

  .text-danger {
    color: #ba0600;
  }
}