@import "../../App";

#leagues-table {
  @extend %responive-tables;
  @include responive-tables('League Name', '');
}



ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;

  li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    padding: 5px;

    &:before{
      content: counter(my-awesome-counter);
      color: #fcd000;
      font-size: 1.5rem;
      font-weight: bold;
      position: absolute;
      --size: 32px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      top: 0;
      transform: rotate(-10deg);
      background: black;
      border-radius: 50%;
      text-align: center;
      box-shadow: 1px 1px 0 #999;
    }
  }
}
