.pt-3-half {
    padding-top: 1.4rem;
}

.info{
    margin: 2px;

    span{
        display: inline-block;
        width: 45%;
        background: #f3f3f3;
        margin: 0.5%;
        padding: 10px;
    }

    span:first-child{
        text-align: right;
        padding-right: 5px;
    }

    span:last-child{
        text-align: left;
        padding-left: 5px;
    }
}