@import "../../App";

nav {
    overflow: hidden;
    background-color: $header-color;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-family: "Fira Sans", sans-serif;
            font-size: 17px;
            a {
                color: $link-color;
                text-decoration: none;
                padding: 14px;
                &:hover {
                    background-color: #111;
                }

                &.active{
                    background-color: #111;
                }
            }
        }
    }
}
