@import "styles/colors";
@import "styles/variables";
@import "styles/table";
@import "styles/button";
@import "styles/form";

body{
  padding-top: $header-height;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.inline-block {
  display: inline-block;
}

.margin10{
  margin-top: 10px;
}

.divider{
  margin: 10px;
}

.right{
  float: right;
}

.center-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
  border-radius: 3px;
}

.centered{
  text-align: center;
}